// bower:scss
// endbower
a {
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

a:hover {
  text-decoration: none;
  -webkit-transition: all 0.15s linear 0s;
  -moz-transition: all 0.15s linear 0s;
  -o-transition: all 0.15s linear 0s;
  -ms-transition: all 0.15s linear 0s;
  transition: all 0.15s linear 0s;
}

a:focus {
  outline: medium none;
  text-decoration: none;
}

a img {
  -webkit-transition: all 0.15s ease-in-out 0s;
  -moz-transition: all 0.15s ease-in-out 0s;
  -o-transition: all 0.15s ease-in-out 0s;
  -ms-transition: all 0.15s ease-in-out 0s;
  transition: all 0.15s ease-in-out 0s;
}

body {
  background: #fff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #3c3c3c;
  font-size: 16px;
}

#top-nav {
  padding: 20px 0;
  .navigation {
    nav {
      margin-top: 5%;
      ul {
        padding: 0 10px;
        li {
          list-style: none;
          display: inline-block;
          a {
            color: #252525;
            text-decoration: none;
            font-weight: 300;
            font-size: 18px;
            &:hover {
              color: #a5cf43;
            }
          }
        }
        .green-circle {
          margin-left: 5px;
          &:before {
            content: " ";
            background-image: url("../images/greencircleheader.png");
            height: 10px;
            width: 10px;
            display: inline-block;
            margin-right: 5px;
          }
        }
      }
    }
  }
  .number {
    p {
      font-weight: 300;
      font-size: 20px;
      margin-top: 12%;
      img {
        margin-right: 5%;
        margin-bottom: 3px;
      }
      b {
        font-weight: 800;
      }
      .pink {
        color: #d9154a;
      }
      .green {
        color: #9bbf36;
      }
    }
  }
}

header {
  height: auto;
  background-image: url("../images/headerbg.jpg");
  background-size: cover;
  padding: 50px 0;
}

#intro {
  margin-top: 40px;
  .wrapper {
    padding: 7px 10px;
    border-radius: 10px;
    border: 1px solid #a5cf43;
    p {
      font-size: 18px;
      margin: 0;
    }
  }
  .pretty {
    margin-top: 30px;
    p {
      font-family: 'Pattaya', sans-serif;
      color: #a5cf43;
      font-size: 22px;
      margin: 0;
      font-weight: 400;
      b {
        color: #d9154a;
      }
    }
  }
  .main-text {
    margin-top: 25px;
    p {
      margin-bottom: 15px;
      big {
        color: #d9154a;
        font-weight: 800;
      }
    }
  }
  .pretty-abzac {
    margin: 15px 0;
    p {
      font-family: 'Pattaya', sans-serif;
      color: #a5cf43;
      font-size: 22px;
      margin: 0;
      font-weight: 400;
      big {
        color: #a5cf43;
        font-weight: 600;
      }
      .pink {
        color: #d9154a;
        font-weight: 600;
      }
    }
  }
}

hr {
  display: block;
  background-image: url("../images/hr.png");
  height: 16px;
  background-position: 50% 50%;
}

#make {
  padding: 40px 0;
  height: auto;
  background-image: url("../images/make.jpg");
  background-position: 50% 50%;
  background-size: cover;
  form {
    text-align: center;
    margin-top: 30px;
    input {
      margin-right: 1%;
      display: inline-block;
      text-align: center;
      height: 45px;
      width: 25%;
      background-color: transparent;
      border: 1px solid #fff;
      border-radius: 10px;
      outline: none;
      color: #fff;
      font-size: 20px;
      &::-webkit-input-placeholder {
        color: #fff;
      }
      &::-moz-placeholder {
        color: #fff;
      }
      &:-moz-placeholder {
        color: #fff;
      }
      &:-ms-input-placeholder {
        color: #fff;
      }
      &:focus::-webkit-input-placeholder {
        color: transparent;
      }
      &:focus::-moz-placeholder {
        color: transparent;
      }
      &:focus:-moz-placeholder {
        color: transparent;
      }
      &:focus:-ms-input-placeholder {
        color: transparent;
      }
    }
    button {
      height: 45px;
      width: 25%;
      display: inline-block;
      border: none;
      background-color: #d9154a;
      border-radius: 15px;
      color: #fff;
      font-weight: 800;
      font-size: 22px;
      &:hover {
        background-image: url("../images/buttonheader.png");
        background-position: 50% 50%;
      }
    }
  }
}

#advantages {
  margin: 30px 0;
  .heading {
    color: #a5cf43;
    font-family: "Pattaya", sans-serif;
    font-size: 70px;
    line-height: 1;
    span {
      color: #d9154a;
    }
  }
  .step-one {
    margin: 20px 0;
    .pretty {
      margin-top: 20px;
      p {
        font-family: "Pattaya", sans-serif;
        font-weight: 400;
        color: #d9154a;
        font-size: 45px;
        margin: 0;
        span {
          color: #858585;
        }
      }
    }
    .another {
      font-weight: 700;
      line-height: 1;
      font-size: 18px;
    }
  }
  .step-two {
    margin-top: 40px;
    .pretty {
      p {
        font-family: "Pattaya", sans-serif;
        font-weight: 400;
        color: #a5cf43;
        font-size: 36px;
        margin: 0;
        margin-bottom: 20px;
        span {
          color: #858585;
        }
      }
    }
    .list {
      ul {
        li {
          list-style: none;
          text-align: right;
          font-size: 18px;
          margin-bottom: 5px;
          &:after {
            content: "";
            display: inline-block;
            background-image: url("../images/redcircle.png");
            height: 10px;
            width: 10px;
          }
        }
      }
    }
    .images {
      margin-top: 30px;
    }
  }
  .step-three {
    margin-top: 10px;
    .pretty {
      margin-top: 20px;
      p {
        font-family: "Pattaya", sans-serif;
        font-weight: 400;
        color: #a5cf43;
        font-size: 35px;
        margin: 0;
        line-height: 1;
        margin: 0;
        margin-top: 10px;
        b {
          color: #858585;
          font-size: 40px;
        }
      }
      .fix {
        margin-left: 10%;
        margin-top: 0;
      }
    }
  }
  .step-four {
    margin-top: 20px;
    .pretty {
      p {
        font-family: "Pattaya", sans-serif;
        font-weight: 400;
        color: #858585;
        font-size: 38px;
        margin: 0;
        line-height: 1;
        margin: 0;
        margin-top: 10px;
        margin-bottom: 15px;
        big {
          color: #d9154a;
          font-size: 40px;
        }
      }
    }
    .list {
      ul {
        li {
          list-style: none;
          text-align: left;
          font-size: 18px;
          margin-bottom: 5px;
          &:before {
            content: "";
            display: inline-block;
            background-image: url("../images/greencircle.png");
            height: 10px;
            width: 10px;
          }
        }
      }
    }
  }
}

#our-production{
  margin:30px 0;
  padding: 30px 0;
  background-image: url("../images/our-production.jpg");
  background-size: cover;
  height: auto;
  background-position: 50% 50%;
  .heading{
    p{
      font-family: "Pattaya", sans-serif;
        font-weight: 400;
        color: #fff;
        line-height: 1;
        margin: 0;
        font-size: 70px;
        span{
          color: #a5cf43;
        }
    }
  }
}

#face{
  .heading{
      p{
        color: #3c3b3b;
        font-weight: 300;
        font-size: 40px;
        img{
          margin-right: 2%;
        }
      }
  }
}
